@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}
html {
  scroll-behavior: smooth;
}

.banner {
  position: relative;
  overflow: hidden;
}

.banner-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.logo {
  position: absolute;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.banner_video_full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.banner_video_left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.banner_video_right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.banner-content {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: start;
  color: #fff;
} 

.expert-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: #fff;
}

.video-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  @media (min-width: 768px) {
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
  }
}

  


.font_arial{
  font-family: Arial, sans-serif;
}
.font_heading{
  font-family: Oswald, sans-serif;
  size: 109px;
}
.font_para{
  font-family: Lato, sans-serif;
}

.font_year{
 font-family: "Racing Sans One", sans-serif;
}


.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.circle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.stars {
  position: absolute;
  top: 0%;
  left: 0%;
  bottom:0%;
  right:0%;
  transform: translate(-0%, -0%);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.star {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
}

.show {
  opacity: 1;
}

.year{
  position: absolute;
  top: 0%;
  left: 0%;
  bottom:0%;
  right:0%;
  transform: translate(-0%, -0%);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}